.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 60px;
	gap: 32px 24px;
}

.form-item {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.form label {
	font: 500 1rem/1.5 "Poppins", "Gill Sans", "Gill Sans MT", Calibri,
		"Trebuchet MS", sans-serif;
}

.form input,
.form textarea {
	font: 400 1rem/1.5 "Roboto", Arial, Helvetica, sans-serif;
	padding: 12px;
	border-radius: 4px;
	border: 2px solid var(--cor-2);
	background: var(--cor-1);
}

.form input:focus,
.form textarea:focus,
.form select:focus {
	outline: none;
	border: 2px solid var(--cor-p1);
	background: var(--cor-0);
}
