.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 20px;
}

.menu {
	display: flex;
	gap: 40px;
}

.menu a {
	position: relative;
	padding: 16px 0;
}

.menu a::after {
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background-color: var(--cor-0);
	position: absolute;
	top: 46px;
	transition: 0.3s;
}

.menu a:hover::after,
.menu a.link-ativo::after {
	width: 100%;
}

.hamburger {
	display: none;
	font-size: 2rem;
	background: none;
	border: none;
	cursor: pointer;
	color: var(--cor-0);
	transition: 0.3s;
}

@media (max-width: 640px) {
	.menu {
		margin-top: 40px;
	}

	.hamburger {
		display: block;
	}

	.menu {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 88px;
		right: 0;
		background: var(--cor-12);
		padding-inline: 42px;
		padding-bottom: 42px;
		width: 100%;
		align-items: end;
		z-index: 1;
	}

	.menu.show {
		display: flex;
	}

	.menu li a {
		font-size: 1.25rem;
	}
}
