.tecnologia {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.tecnologia-content {
	display: grid;
	gap: 20px;
}

.tecnologia-content a {
	max-width: fit-content;
}

.tecnologia-content a::after {
	content: "";
	display: block;
	height: 4px;
	width: 100%;
	background-color: var(--cor-p1);
}

.tecnologia-content a:hover {
	color: var(--cor-0);
}

.tecnologia-content a:hover::after {
	background-color: var(--cor-0);
}

.tecnologia-imagem {
	margin: -180px 0;
}

.tecnologia-imagem img {
	height: 100%;
	object-fit: cover;
}

.tecnologia-vantagens {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	margin-top: 60px;
}

.tecnologia-vantagens-item {
	display: grid;
	gap: 8px;
}

@media (max-width: 880px) {
	.tecnologia {
		grid-template-columns: 1fr;
	}

	.tecnologia-imagem {
		display: none;
	}
}

@media (max-width: 640px) {
	.tecnologia-vantagens {
		grid-template-columns: 1fr;
	}
}
